*{ 
    margin: 0px;
    padding: 0px;
} 
/* header styles */
/* nav */
.nav-container{
    height: 120px;
    background-color: #FFF;
   display: flex;
    justify-content: space-around;
    align-items: center;
}
.title{
    display: flex;
    align-items: center;
    gap: 15px;
}
.title img{
    width: 85px;
    height: 40px;
}
.nav-title{
    color: #0B0223;
    font-family: 'Work Sans', sans-serif;
    font-size: 2.8rem;
    font-weight: 900;
}
.menus{
    display: flex;
    align-items: center;
    gap: 30px;
}
.menus li{
    list-style: none;
    color: #3C354F;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
}
.follow-us{
    width: 260px;
    height: 15px;
    margin:auto;
    padding: 15px; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.follow-us h5{
    color: #3C354F;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
}
.follow-icon{
    width: 30px;
    height: 25px;
}
/* main styles */
/* banner section */
.banner-container{
    height: 980px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin-bottom: 0px;
    
}
.goat{
    padding-left: 200px;
    width: 700px;
    height: 800px;
    background-image: url('images/Group\ 14.png');
    background-size: 100%;
}
.goat h3{
    color: #0B0223;
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0px;
}
.goat h2{
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.goat li{
    color: #534C64;
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 500;
    list-style: none;
    margin-top: 25px;
    margin-bottom: 10px;
}
#play{
    list-style-image: url('images/watch.png');
}
#download{
    list-style-image: url('images/download.png');
}
#support{
    list-style-image: url('images/Frame\ \(1\).png');
}
.btn-one{
    padding: 20px 40px;
    color: white;
    border: none;
    border-radius: 45px;
   background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
   margin-right: 20px;
   margin-top: 15px;
}
.btn-two{
    padding: 20px 40px;
    color:white;
    border: none;
    border-radius: 45px;
   background: #4EC5F7;
}
.goat-img img{
    margin-right: 30px;
   width: 750px;
   height: 700px;
}
/* gamer section */
.gamer{
    margin-top: 0px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    /* height: 600px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.gamer-img img{
    width: 860px;
    height: 490px;
}
.gamer-text h3{
    text-align: right;
    font-family:'Work Sans', sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin-right: 25px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamer-text p{
    color: #534C64;
    text-align: right;
    margin-right: 25px;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.gamer-text button{
    margin-left: 230px;
}
.purpose{
    color: #534C64;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    font-weight: 500;
}
.unleash{
    color: #534C64;
    font-family:'Work Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
}
/* online games */
.online{
    padding-top: 10px;
    padding-bottom: 80px;
}
.online-games{
    text-align: center;
}   

.online-games h3{
    color: #0B0223;
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
}
.online-games .online-styles{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
    font-weight: 900;
}
.online-games p{
    margin-top: 20px;
    color: #534C64;
    text-align:center;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    font-weight: 450;
}
.online-games-card{
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 10px;
}
.card img{
    width: 340px;
    height: 400px;
    border-radius: 15px;
}
.card p{
    color: #534C64;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
}
/* play instantly */
.play-instant{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;
}
.play-instant-text{
    text-align: center;
}

.play-instant-text h3{
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0px;
     padding-left: 300px; 
}
.play-instant-text .instant{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-instant-text p{
    padding-top: 10px;
    color: #534C64;
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.play-instant-img .two{
    position: relative;
    right: 83%;
    top: 100px;
}
/* play games section */
.play-games{
    margin-top: 100px; 
    height: 800px;
    display: flex;
    justify-content: space-around;
}
.play-games-img .right{
    position: relative;
    top: 100px;
    right: 20%; 
}
.play-games-img{
    padding-left: 100px;
}
.play-games-text{
    padding-right: 200px;
}
.play-games-text h3{
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0px;
}
.play-games-text p{
    padding-top: 10px;
    color: #534C64;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.play{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* icons*/
.icon-container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    height: 400px;
    margin: auto;
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 255px;
}
.icon{
    display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
    gap: 30px; 
}
.icons{
    background-color: white;
    display: flex;
   text-align: center;
   align-items: center;
   gap: 8px;
    width: 260px;
    height: 60px;
    border-radius: 50px;
    padding-left: 20px;
}
.icons h4{
    color: #0B0223;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.icons img{
    width: 50px;
    height: 50px;
}
.icons:hover{
    border: 1px solid #FF42A5;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* footer */
.foot{
    background: #0B0223;
    height: 760px;
}
.foot-title{
    text-align: center;
    align-items: center;
    display: flex;
    gap: 20px;
    padding-left: 820px;
    padding-top: 90px; 
}
.foot-title img{
    width: 85px;
    height: 40px;
}
.foots{
    color: white;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    font-weight: 700;
}
.foot-menu{
    padding-left: 520px;
    padding-right: 480px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;

}
.foot-menu li{
    list-style: none;
    color: #FFF;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    font-weight: 550;
}
.foot-img{
    text-align: center;
    padding-top: 50px;
    gap: 40px;
}

.foot-img img{
    width: 50px;
    height: 35px;
    padding-right: 30px;

}
.foot-menus{
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 25px;
    padding-top: 60px;
    padding-left: 630px;
    padding-right: 650px;
}
.foot-menus li{
    padding-top: 20px;
    list-style: none;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;

}
.foot-last p{
    padding-top: 40px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: ;
    font-size: 16px;
    font-weight: 500;
}
/* responsive styles */
/* mobile devices */
@media screen and (max-width:576px) {
        html,head,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
        }    
    .nav-container,
    .menus,
    .online,
    .play-instant,
    .foot,
    .gamer
    {
        flex-direction: column ;
    }
   .nav-container,
    header{
        padding: 50px 20px;
    }
    .follow-us{
       width: 250px;
       height: 30px;
    }
    .banner-container{
        flex-direction: column-reverse;
        padding-top: 100px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 120px;
        
    }
    .goat{
        width: 100%;
        padding-left: 35px;
        align-items: center;
        font-size: 30px;
        
    }
    .goat h3{
        padding-top: 30px;
    }
   .goat-img img{
        align-items: center;
        width: 100%;
        margin-right: 0px;
        height: 350px;
    }
    .online-games h3{
         font-size: 30px;
         font-weight: 700;

    }
    .online-games .online-styles{
         font-size: 30px; 
         font-weight: 700;
    }
     .online-games-card{
        display: grid;
        grid-template-columns: repeat(1fr);
        gap: 15px;
        
    }
    .card p{
        width: 680px;
        height: 85px;
        text-align: center;
    }
    .play-instant{
        padding-bottom: 0px;
    }
    .play-instant-text{
        width: 100%;
        padding-left: 0px;
        padding-right: 100px;
    }
    .play-instant-text h3{
        font-size: 40px;
        padding-left: 90px;
        text-align: center;
        padding-bottom: 25px;
    }
    .play-instant p{
        text-align: center;
        padding-left: 70px;
    }
    .play-instant-img{
         padding-left: 40px;
         text-align: center;
    }
    .play-instant-img img{
        width: 300px;
        height: 350px;
        position: relative;
        top: 110px;
      
    }
    .play-instant-img .two{
       width: 220px;
        height: 260px;
        position: relative;
        right:28%;
        top: 20%;
        margin-bottom: 0px; 
    }
.icon{
    margin-left: 90px; 
    display: grid;
    grid-template-columns: repeat(3,1fr); 
   
}
.icons{
    width: 90px;
    height: 60px;
    gap: 0px; 
}
.icon-container{
    height: 300px;
    padding-top: 70px; 
}
.icons h4{
    font-size: 10px;
    gap: 5px;
}
.icons img{
    width: 30px;
    height: 30px;
}
.icons:hover{
        border: 1px solid #FF42A5;
        background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.foot-title{
    padding-left: 80px;
    padding-top: 45px;
}
.foot-menu{
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 25px;
 }
 .foot-img{
    padding-right: 30px;
    padding-left: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
 }
 .foot-menus{
    text-align: center;
    padding-left: 200px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
 }
 .foot-menus li{
    width: 160px;
    font-size: 15px;
 }
 .gamer{
    height: 300px;
    margin-bottom: 360px;
    padding-top: 100px;
    padding-left: 0px;
 }
 .gamer-img img{
    /* margin-bottom: 900px; */
    padding-right: 300px;
     width: 100%; 
     padding-bottom: 0px;
}
.gamer-text{
    
    margin-top: 3px;
    /* margin-bottom:; */
    width: 110%;
    text-align: center;
}
.gamer-text h3{
    margin-top: 0px;
    margin-bottom: 2px;
    padding-left: 30px;
    text-align: center;
}
.gamer-text p{
    padding-left: 30px;
    text-align: center;
}
.gamer-text .unleash{
    padding-top: 10px;
    font-size: 20px;
}
.gamer-text button{
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.play-games{
    flex-direction: column-reverse;
    /* height: 600px; */

}

.play-games-text h3{
    margin-bottom: 40px;
    margin-top: 80px;
    text-align: center;
    width: 420px;
    font-size: 40px;
}
.play-games-text p{
    padding-bottom: 0px;
    margin-left: 10px;
    width: 400px;
    text-align: center;
    font-size: 15px;
}
.play-games-img{
    /* padding-bottom: 180px; */

    padding-left: 20px;
    margin-bottom: 170px;
} 
.play-games-img img{
    width: 280px;
    height: 350px;
    position: relative;
    top: 110px;
}
.play-games-img .right{
    width: 200px;
    height: 240px;
    position: relative;
    left: 40%;
    top: 5%;
}
}
/* respnsive for tablet devices */
@media screen and (min-width:576px) and (max-width:992px) {
     html,head,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
        .nav-container,.menus{
            flex-direction: column;
            padding-top: 50px;
        }
        .title{
            margin-top: 20px;
        }
       .goat{
            padding-left: 50px;
        }
        .goat-img img{
            margin-top: 0px;
            margin-bottom: 100px;
            width: 400px;
            height: 400px;
            margin-top: 0px;
            margin-right: 0px;
            margin-left: 0px;
            }
            .banner-container{
                margin-top: 120px;
            }
            .banner-container,.gamer{
                flex-direction: column;
            }
        .gamer-img img{
            width: 500px;
        }
        .gamer-text{
            margin-bottom: 50px;
        }
        .online-games-card{
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
        .play-instant{
            flex-direction: column;
            padding-bottom: 0px;
            }
        .play-instant-text h3{
            padding-left: 0px;
        }
        .play-games-img{
            width: 600px;
        }
        .play-instant-img img{
            padding-left: 330px;
            width: 400px;
            height: 400px;
            position: relative;
            
        }
        .play-instant-img .two{
        width: 220px;
        height: 260px;
        position: relative;
        right:15%;
        top: -90px;
        margin-bottom: 0px; 
        
}
.play-games{
    flex-direction:column-reverse;
}
.play-games-text{
    padding-top: 40px;
    padding-left: 280px;
    padding-right: 250px;
}
.play-games-img img{
    padding-left: 0px;
    width: 400px;
    height: 400px;
}
.play-games-img .right{
    width: 200px;
    height: 240px;
    position: relative;
    left: 50%;
    top: -35%;
}
.icon{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.icons{
    width: 200px;
    height: 60px;
    gap: 0px; 
}
.icon-container{
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 40px;
}
.icons:hover{
        border: 1px solid #FF42A5;
        background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.foot{
    height: 600px;
}
.foot-title{
    padding-left: 250px;
}
.foot-menu{
    padding-top: 40px;
    padding-left: 400px;
}
.foot-img{
    padding-left: 60px;
}
.foot-menus{
    padding-top: 40px;
    padding-left: 380px;
}
}